#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: left;
  place-items: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical centering */
  min-height: 100vh;         /* fill full viewport height */
  background-color: #141519; /* dark background */
  color: white;              /* default text color */
  font-family: 'Inter', sans-serif;
}