@import "tailwindcss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #141519;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  background-color: #212832;
  border-radius: 1rem;
  padding: 1.5em;
}
h1{
  font-size: 1.75rem;
  font-weight: 700;
}
p{
  font-size: small;
}
button:active {
  background-color: #f59e0b; /* or a lighter pink/orange */
  transform: scale(0.95);
}

@media (max-width: 480px) {
  main {
    padding: 1.5rem;
    width: 98%;
    border-radius: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
}
